:root{
    --unit : 150px;
    --boxColor: #559;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#gameContainer{
    width: calc(var(--unit) * 5);
    height: calc(var(--unit) * 4);
    border: 3px solid black;
    position: relative;
}

.box{
    background-color: var(--boxColor);
    border: 3px solid white;
    box-sizing: border-box;
    position: absolute;
    top: calc(var(--line) * var(--unit));
    left: calc(var(--column) * var(--unit));
}

.fixedBox{
    background-color: tomato;
}

.square {
    width: var(--unit);
    height: var(--unit);
}

.twotall {
    width: var(--unit);
    height: calc(var(--unit) * 2);
}

.twowide {
    width: calc(var(--unit) * 2);
    height: var(--unit);
}

.rodBox::before {
    content: ' ';
    background-color: white;
    display: block;
    width: calc(100% - var(--unit)/4);
    height: 30%;
    position: absolute;
    top: 35%;
}

.rodBox.hasRod::after {
    content: ' ';
    background-color: tomato;
    display: block;
    width: calc(100% - var(--unit)/4 - 5px);
    height: 24%;
    position: absolute;
    top: 38%;
}

.rodBoxMiddle::before{
    width: 101%;
    left: -1;
}

.rodBoxLeft::before, .rodBoxLeft::after {
    left: -1;
}

.rodBoxRight::before, .rodBoxRight::after {
    right: -1;
}


